.container {
    display: block;
    width: 1000px;
    height: 200px;
    background-color: red;
    margin-left: calc ((100% - 1000px) / 2);
}

.left-side {
    display: inline-block;
    width: 40%;
    float: left;
    background-color: blue;

}

.right-side {
    display: inline-block;
    width: 60%;
    float: left;
    background-color: red;